/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Authors custom styles
   ========================================================================== */
body {
    background-color: black;
}

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1
}

#welcomeScreen {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 70px;
    top: 60%;
}

input:focus {
    box-shadow: 0px 0px 3pt 2pt #C7F464;
    outline: none;
}

#myId {
    padding-left: 6px;
    color: #C7F464;
    font-size: 2em;
    text-shadow: 0 0 0.1em #C7F464, 0 0 0.1em #C7F464, 0 0 0.1em #C7F464;
}

#connectToId {
    margin-left: 100%;
    width: 100%;
    height: 50px;
    padding-left: 50%;
    background-color: #4ECDC4;
    -moz-box-shadow: inset 280px 10px 210px 10px #000000;
    -webkit-box-shadow: inset 280px 10px 210px 10px #000000;
    box-shadow: inset 280px 10px 210px 10px #000000;
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeft {
    100% { margin-left: 0%; }
}

@keyframes slideLeft {
    100% { margin-left: 0%; }
}

#playerName {
    display:none;
    border-radius: 6px;
    height: 30px;
    margin-top: 6px;
    padding-left: 6px;
}

#connectTo {
    border-radius: 6px;
    height: 30px;
    margin: 0 auto;
    width: 130px;
    padding-left: 6px;
    margin-top: 6px;
}

#connect {
    height: 35px;
    margin: 0 auto;
    border: none;
    background: #4ECDC4;
    background-color: #C7F464;
    color: #0E2725;
    line-height: 22px;
    text-decoration: none;
    border-radius: 6px;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transition: 0.25s linear;
    -webkit-backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#connect:hover {
    background-color: #cacfd2;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

#selectscreen {
    color:rgb(240,140,30);
    z-index:2;
    width:400px;
    height:300px;
    position:absolute;
    border:5px solid rgba(0,0,0,0.5);
    background-color:rgba(200,200,200,0.5);
}

.unitbtn {
    z-index:3;
    position:relative;
    width:100px;
    height:100px;
    left:50px;
    top:20px;
    border:5px solid green;
}

.unitcost {
    z-index:3;
    position:relative;
    font-size:120%;
    color:red;
}

#selectscreentext {
    color:black;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
    font-size:200%;
    position:relative;
    z-index:3;
    top:10px;
    margin:0px auto;
}

#finishselection {
    z-index:3;
    position:absolute;
    width:200px;
    height:80px;
    left:101%; /*Hardcoded, need something better...*/
    top:30%; /*Hardcoded, need something better...*/
    color:#C7F464;
    font-size:120%;
    background-color:rgba(120,120,120,0.5);
    border: 1px solid #C7F464;
}

#finishturn {
    z-index:4;
    position:absolute;
    width:200px;
    height:80px;
    left:0%; /*Hardcoded, need something better...*/
    top:0%; /*Hardcoded, need something better...*/
    color:black;
    font-size:120%;
    background-color:rgba(120,120,120,0.5);
    border: 1px solid #C7F464;
    text-align: center;
}

#statustext {
    padding: 15px 10px 10px 10px;
    text-align: center;
    position:relative;
    z-index:6;
    color: #C7F464;
    border: 1px solid #C7F464;
    font-size:200%;
    background-color: rgba(120,120,120,0.5);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary (mobile first) styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Dont show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

